.inventory{
    position: relative;
}

.inventory-tags{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    top : 44px;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    border-radius: 0 0 8px 8px;
    border : 2px solid black;
    border-top:none ;
    box-sizing: border-box;
}

.inventory-tags-dropdown{
    border: none;
}

.inventory-tag{
    border: 2px solid cornflowerblue;
    border-radius: 20px;
    background: dodgerblue;
    padding: 3px 5px 5px 5px;
    cursor: pointer;
    margin: 0.8vh 5px ;
}
.inventory-tag:hover{
    filter: brightness(110%);
}
.pin{
    image-rendering:smooth;
}

