

.App {
  text-align: center;

}
input{
  line-height:1.8rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn{
  display: flex;
  width : fit-content;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius :8px;
  border: 1px solid black;
  padding : 5px 15px ;
}
.btn:hover{
  background : black;
  color : white;
}

h1,h2,h3,h4{
  margin: 0;
}
.radio-research{
  width: 100vw;
  background: transparent;
}